!!!
%html{lang: "ja"}
  %head
    %meta{ charset: "utf-8" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" }
    %meta{ name: "apple-mobile-web-app-capable", content: "yes" }
    %meta{ name: "apple-mobile-web-app-status-bar-style", content: "black-translucent" }
    %link{ type: "text/css", rel: "stylesheet", href: "/css/index.css" }
    %link{ rel: "shortcut icon", href: "assets/favicon.jpg" }
    %link{ rel: "apple-touch-icon", href: "assets/favicon.jpg" }
    %script{ src: "/js/jquery-3.3.1.min.js" }
    %title=title
  %body
    %div.bg
      %div.container
        %div.title_container
          %p コンテンツをえらんでください
        %div.contents_container
          -# %div.small_contents_container
          -#     - @small_contents.each do |c|
          -#       %div{ id: c[:id], class: 'icon small_icon unselected', data: {id: c[:id]} }
          -#         %img{class: 'unselected_image', src: c[:unselect_img]}
          -#         %img{class: 'selected_image', src: c[:select_img]}
          -#         %img{class: 'pressed_image', src: c[:press_img]}
          -#         %img{id: c[:id] + '_status', class: 'info', src: "assets/error.png"}  
          %div.light_off_contents_container
            - @light_off_contents.each do |c|
              %div{ id: c[:id], class: 'icon circle_icon selected', data: {id: c[:id]} }
                %img{class: 'unselected_image', src: c[:unselect_img]}
                %img{class: 'selected_image', src: c[:select_img]}
                %img{class: 'pressed_image', src: c[:press_img]}
          %div.large_contents_container
            - @large_contents.each do |c|
              %div{ id: c[:id], class: 'icon large_icon unselected', data: {id: c[:id]} }
                %img{class: 'unselected_image', src: c[:unselect_img]}
                %img{class: 'selected_image', src: c[:select_img]}
                %img{class: 'pressed_image', src: c[:press_img]}
                -# %img{id: c[:id] + '_status', class: 'info', src: "assets/error.png"}
                %p #{c[:name]}
    %script{ src: "/js/index.js" }
